<h1><%= @user.display_name %>'s Profile</h1>

<p>This user has <%= pluralize(@user.projects.count, "project") %>.</p>
<p>This user has done <%= pluralize(@user.total_stitches, "stitch") %></p>

<p><%= @user.profile %></p><br>

